{% if page.giscus %}
<script src="https://giscus.app/client.js"
        data-repo="oSoWoSo/SimpleX-Themes"
        data-repo-id="R_kgDOMoOy9A"
        data-category="General"
        data-category-id="DIC_kwDOMoOy9M4CvYxA"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}